.about__content {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items horizontally */
    align-self: center;
    gap: 20px; /* Add space between items */
    height: 100vh; /* Ensure full height for vertical centering */
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 400px;
}

.about__text {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
}